/* Root Variable */
:root {
   --bg: black;
}

/* Body */
body {
   background-color: var(--bg);
   color: white;
   padding: 2rem;
}

h1 {
   text-align: center;
}

.para {
   text-align: center;
   .paradiv-1 {
      color: lightblue;
   }
   .paradiv-2 {
      color: lightyellow;
   }
}

.buttons {
   /* align-items: center; */
}
