/* Global Source Styles */
:root {
   --primary: #8b3743;
   --bg: #010101;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   /* flex: 1; */
}

html,
body {
   height: 100%;
   margin: 0;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

body {
   font-family: "Manrope", sans-serif;
   background-color: var(--bg);
   color: #fff;
   /* padding-top: 7.5rem; */
   /* padding: 5.5rem 0; */
}

/* Navbar Styles */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.4rem 10%;
   background-color: rgba(1, 1, 1, 0.6);
   border-bottom: 1px solid var(--primary);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}

/* 1. Navbar Logo */
.navbar .navbar-logo {
   font-size: 2rem;
   font-weight: 700;
   color: #fff;
   font-style: italic;
   span {
      color: var(--primary);
   }
}

/* 2. Navbar Mid Nav */
.navbar .navbar-nav a {
   color: #fff;
   display: inline-block;
   font-size: 1.2rem;
   margin: 0 1rem;
   transition: 0.1s linear;
}

.navbar .navbar-nav a:hover {
   color: var(--primary);
}

.navbar .navbar-nav a::after {
   content: "";
   display: block;
   padding-bottom: 0.5rem;
   border-bottom: 0.1rem solid var(--primary);
   transform: scaleX(0);
   transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
   transform: scaleX(0.5);
}

/* 3. Navbar Right Menu - Extra*/
.navbar .navbar-extra a {
   color: #fff;
   margin: 0 0.5rem;
   transition: 0.1s linear;
   font-size: 1.2rem;
}

.navbar .navbar-extra a:hover {
   color: var(--primary);
}

/* 4. Navbar Buttons - Login or Sign Up */
#hamburger-menu {
   display: none;
}
/* Navbar End */

/* General Page Styles */
.p-4 {
   font-size: large;
   text-align: center;
   h1 {
      padding: 4.5rem 0;
   }
}

main {
   flex: 1;
}

.container {
   width: 90%;
   max-width: 1280px;
   margin: 0 auto;
}

/* Home.jsx */
.hero {
   height: 100vh;
   background: url("https://images.pexels.com/photos/4047154/pexels-photo-4047154.jpeg")
      no-repeat center center rgba(0, 0, 0, 0.4);
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
   margin: 5.2rem 0;
   padding: 8%;
}

.hero::before {
   /* Dark Transparency for Welcome Banner */
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   z-index: 1;
}

.hero-content {
   position: relative;
   z-index: 2;
   text-align: center;
   color: #fff;
   text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content h1 {
   font-size: 3rem;
   margin-bottom: 3rem;
}

.hero-content p {
   font-size: 1.25rem;
   margin-bottom: 1.5rem;
}

.features {
   /* display: grid; */
   display: flex;
   flex-direction: column;
   /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
   gap: 4rem;
   margin: 4rem;
   /* padding: 4rem; */
}

.feature {
   background: var(--primary);
   padding: 2rem;
   border-radius: 8px;
   text-align: center;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
/* Article */

/* Concultacy.jsx */

/* About.jsx */

/* Dashboard.jsx */

/* Footer start */
footer {
   /* position: absolute; */
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: var(--primary);
   text-align: center;
   padding: 1.5rem 0;
}
/* Footer end */
